@import "normalize.scss"
@import "reset.scss"
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap')

*
    box-sizing: border-box


$color-blue: #5290EA
$color-orange: #F28B64




body
    font-family:  'Montserrat', sans-serif

.container
    max-width: 1140px
    margin: 0 auto

.main-section
    position: relative
    min-height: 800px
    background: #F0F0F0
    padding-top: 16px
    overflow: hidden
    &__nav-container
        display: flex
        flex-direction: row
        justify-content: space-between
        height: 69px
        align-items: center
    &__content-container
        position: relative
        display: flex
        flex-direction: row
    &__first-elipse
        position: absolute
        top: 129px
        right: 34px
    &__second-elipse
        position: absolute
        right: -120px
        top: 650px



.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__item
        margin-right: 64px
        font-size: 18px
        &:last-child
            margin-right: 0px
        a
            text-decoration: none
            color: black
.left-wrapper
    position: relative
    &__block-blue
        position: absolute
        top: 135px
        left: -52px
        width: 565.95px
        height: 220px
        background: $color-blue
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        transform: rotate(-64deg)
        z-index: 2
    &__block-orange
        position: absolute
        top: 160px
        left: -20px
        width: 585.95px
        height: 220px
        background: $color-orange
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        transform: rotate(-50.81deg)
        z-index: 3
    &__block-white
        position: absolute
        top: 190px
        left: 20px
        width: 565.95px
        height: 220px
        background: #E2E2E2
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        transform: rotate(-36.15deg)
        z-index: 1
    &__img
        position: relative
        z-index: 5

.right-wrapper
    width: 372px
    position: absolute
    top: 150px
    right: 76px
    z-index: 1
    &__icons-box
        margin-bottom: 1px
        padding-left: 10px
    &__title
        margin-bottom: 5px
    &__text-box
        font-size: 16px
        margin-bottom: 20px


.icons
    display: flex
    flex-direction: row
    &__item
        display: flex
        justify-content: center
        align-items: center
        width: 40px
        height: 40px
        border: 1px solid $color-blue
        border-radius: 100%
        margin-right: 17px
        i
            font-size: 21px
    &__item:last-child
        margin-right: 0px


.title
    font-size: 72px
    position: relative
    &__hr
        position: absolute
        width: 62px
        margin: 0
        border: none
        border-top: 1px solid black


.buttons
    display: inline-flex
    &__main-btn
        margin-right: 32px
        width: 200px
        height: 60px
        background: $color-orange
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border: none
        border-radius: 100px
        color: white
        font-size: 18px
    &__icon
        display: inline-flex
        align-items: center
    &__img
        margin-right: 12px
    &__text
        font-size: 16px

.elipse
    width: 194px
    height: 194px
    border-radius: 100%
    background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%)
    display: flex
    justify-content: center
    align-items: center
    &__subtract
        width: 129.33px
        height: 129.33px
        border-radius: 100px
        background: #F0F0F0
        &_big
            width: 188px
            height: 188px
    &__big
        width: 282px
        height: 282px


.second-section
    position: relative
    min-height: 700px
    padding-top: 32px
    &__title
        margin-bottom: 40px
        & hr
            width: 94px
    &__cards-box
        display: inline-flex
    &__first-elipse
        position: absolute
        top: 80px
        right: -60px
    &__second-elipse
        position: absolute
        top: 364px
        left: -60px
.cards-item
        position: relative
        display: flex
        align-items: flex-end
        width: 360px
        height: 360px
        background: #E2E2E2
        margin-right: 30px
        margin-bottom: 28px
        border-radius: 10px
        z-index: 1
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
        &:last-child
            margin-right: 0
        &__img
            width: 197px
            height: 335px
        &__text
            width: 280px
            position: absolute
            top: 143px
            right: -51px
            text-align: center
            font-size: 36px
            transform: rotate(90deg)


.cards-item_blue
    background: $color-blue

.cards-item_orange
    background: $color-orange

.icons-box
    display: flex
    justify-content: space-evenly

.icons-item
    display: inline-flex
    align-items: center
    &__img
        margin-right: 20px
        width: 80px
    &__text
        font-size: 18px
        span
            font-size: 48px


.third_section
    position: relative
    min-height: 640px
    background: #F0F0F0
    z-index: 0
    overflow: hidden
    &__second-elipse
        position: absolute
        bottom: 484px
        right: -101px
    &__content
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        padding-left: 167px
        padding-top: 46px
    &__right_side
        max-width: 480px
    &__right_text
        margin-bottom: 30px
        margin-top: 20px
        font-size: 18px
    &__first-elipse
        position: absolute
        top: 142px
        left: 296px
        z-index: -1
    &__figure
        position: absolute
        top: 249px
        left: 212px
        z-index: -1

.title__hr_top
    bottom: -10px


.footer
    position: relative
    &__container
        min-height: 272px
        display: flex
        align-items: center
        justify-content: flex-end
    &__title
        margin-bottom: 20px
    &__img
        position: absolute
        width: 672px
        left: -26px
        bottom: 0px





.icons_footer
    background: #F0F0F0
